


.three .right2 .xiaomy-swiper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 4000px;
}

.xiaomy-swiper {
  position: relative;
  width: 400px;
  height: 250px;
  
  overflow: hidden;
}

.xiaoswiper-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 250;
  overflow: hidden;
  animation: swipewr 10s linear infinite;
  transition: left 1s linear;
}

.xiaoswiper-slide {
  width: 400px;
  height: 250px;
  float: left;
  overflow: hidden;
}
.xiaoswiper-slide img {
  display: block;
  width: 400px;
  height:250px;
  object-fit: cover;
}

@keyframes swipewr {

  0%,
  15% {
    left: 0;
  }
  
  20%,
  35% {
    left: -400px;
  }

  40%,
  55% {
    left: -800px;
  }

  60%,
  75% {
    left: -1200px;
  }

  80%,100% {
    left: -1600px;
  }
}
} 